body{
    font-family: 'open sans', sans-serif;
    background-color: rgb(19, 16, 16);
    
}
#stopwatch{
    width: 320px;
    height: 520px;
    background-color: #eadefe;  
    margin: 0 auto;
    top: 25px;
    position: relative;
    border-radius: 6px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
    justify-content: flex-start;
    flex-direction:row;
    
}
 
#min {
    width: 100px;
    height:90px;
    border-radius: 60%;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(19, 17, 17, 0.19) ;
    background-color: rgb(126, 182, 247);
    margin: 0 auto;
    text-align: center;
    
    color:white;
    border: solid;
    align-items:flex-end;


   
}
h2{
    justify-self: start;
    align-items: center;
    background-color: #f6fafa;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(19, 17, 17, 0.19) ;
    height: 40px;
}
h1{
 align-items: flex-start!important;  
}

#span{
        align-items: flex-end;
}
#msec {
    width: 100px;
    height:90px;
    border-radius: 60%;
    box-shadow:0 4px 8px 0 rgba(19, 18, 18, 0.2), 0 6px 20px 0 rgba(19, 17, 17, 0.19) ;
    background-color: rgb(13, 14, 13);
    text-align: center;
    
    color:rgb(250, 244, 234);
    
    border: solid rgb(253, 223, 177);
    padding-top: 10px;
    /* margin-top: 30%; */


}
#sec {
   width: 100px;
   height:90px;
   border-radius: 60%;
   box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(19, 17, 17, 0.19) ;
   background-color: rgb(64, 185, 48);
   text-align: center;
   
    float: left;
   color:rgb(250, 244, 234);
   border:solid rgb(116, 116, 117);
   /* margin-top: 30%; */
  
}
@media only screen and (max-width:375px){
 #stopwatch{
     float: left;
     
 }
 h1 {
    
     vertical-align: top;
     offset:2;
     columns: 12;
    align-items: center;

 }
}
.margin{
   margin-left: 10px;
}
.button{
    border-radius: 10px;
    border: solid;
    color: rgb(26, 25, 24);
    box-shadow:0 0 10px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
    text-align: center;
    font-size: 12px;
}
/* #pause{
    border-radius: 20px;
    width: 80px;
    height: 50px;
    border: solid;
    color: rgb(26, 25, 24);
    box-shadow:5px 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
    text-align: center;
} */
.name{
    font-weight: white;
    background-color: blanchedalmond;
}